<h1>Editing trip</h1>
<p>
	<%= link_to "Delete trip", @trip, method: :delete,  data: {confirm: "Are you sure you want to delete this trip?"}%>
</p>
<%= render 'form' %>

<%= link_to 'Show', @trip %> |
<%= link_to 'Back', trips_path %>
