<table class="border-table">
  <col style="width:25%">
  <col style="width:60%">
  <tr>
    <td colspan="5"><h1>Listing trips</h1>
</td>

<% @trips.each do |trip| %>
  <tr>
    <td><%= link_to trip.name, trip, trip_id: trip.id %></td>
    <td><%= trip.description %></td>
  </tr>
  <tr>
    <td id="separator" colspan="5">
      
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '[New Trip]', new_trip_path %>
<%= link_to '[Home]', root_path %>
