#edit_parts {
	.inline_block {
  		/* Setting a common base */
  		margin: 0;
  		padding: 0;
	  //	div {
		    /* Setting a common base */
		    margin: 0;
		    padding: 10px;
		    display: inline-block;
		    min-height: 100px;
		    //background: #ccc;
		    vertical-align: top; 
		//} 
	}

	padding: 0px;
	#places_part {	
		width: 500px;
		border-right: 2px solid lightGreen;

		td {
			padding-left: 10px;
			font-size: x-small;
		}
		.seq_no {
			color: #C0C0C0;
			text-align: right;
			padding-right: 6px;
		}

		#buttons {
			text-align: right;
			width: 30px;
		}
	
		.place_part {	
			font-size: medium;	
		}

		.minor_place_part {
			font-size: small;	
			padding-left: 20px;
			padding-top: 5px;
		}
		
		#place_spacer {
			//background-image: url(/assets/narrow-green-arrow.png);
			height: 40px;
		}
	}

	#route_part {
		 width: 550px;
		 padding-left: 20px;
	}
}

#after_edit_parts {
	font-size: medium;
}


	