<h1>Editing route</h1>

<%= render 'form' %>

<%= link_to 'Show', [@trip, @route] %> |
<%= link_to 'Back', trip_routes_path(@route.trip_id) %>
<td><%= link_to 'Delete', [@trip, @route], method: :delete, data: { confirm: 'Are you sure?' } %></td>
