<h1>Listing routes</h1>

<%= render 'route_list' %>

<% if trip_unassigned_places(@trip_id).length > 0 %>
    <h2>Unassigned places</h2>
    <% @places = trip_unassigned_places(@trip_id) %>
    <table>
        <%= render 'places/places' %>
    </table>
<% end %>
<br />

<%= link_to 'New Route', new_trip_route_path %>
<%= link_to 'New Place', new_place_path %>
