/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#banner {
  background: #D6F5D6;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;

  img {
    float: left;
  }
}


#breadcrumbs {
  padding-bottom: 1em;

  a {
   color: #282;
  }
}

#login_info {
  font: small-caps 14px/14px "Times New Roman", serif;
  text-align: right;
  color: #808080;
}

#notice {
  color: #000 !important;
  border: 2px solid green;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #85E085;

  #main {
    margin-left: 15em;
    padding: 1em;
    background: #D6F5D6;
  }

  #side {
    float: left;
    padding: 0em 2em;
    //width: 6em;
    margin-top:2em;
    margin-left: -8em;
    min-height: 40em;

    #nav_group {
      #navigation {
        float: left;
        width: 120px;
        background-color: #D6D1B9;
      }
      ul {
        padding-left: 5px;
        ul {
          padding-left: 20px; 
        } 
      }
      a {
        text-decoration: none;
        color: #7f7669;
        &:hover, &:active {
          text-decoration: underline; 
        } 
      }
      li {
        border: medium none;
        list-style-image: none;
        list-style-type: none;
        padding: 2px;
        a.selected {
          color: #4c4338;
          text-decoration: underline; 
        }
        li {
          font-size: 10pt; 
        } 
      }  
    }

    #gray_links {
      color: #808080;
    }

    ul {
      padding: 0;
      li {
        list-style: none;
        a {
          color: #355A35;
          font-size: small;
                  &:hover {
                    background-color:#D6F5D6;
          } 
        }
      }
    }
  }
  .trip_form {
    fieldset {
      background: #efe;
      legend {
        color: #dfd;
        background: #141;
        font-family: sans-serif;
        padding: 0.2em 1em;
      }
    }
    form {
      label {
        width: 10em;
        float: left;
        text-align: right;
        padding-top: 0.2em;
        margin-right: 0.1em;
        display: block;
      }

      select, textarea, input {
        margin-left: 0.5em;
      }

      .submit {
        margin-left: 4em;
      }
      br {
        display: none
      }
    }
  }
}