// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	#edit_parts {

		#places_part {	

			#place_part {	
				font-size: medium;

				#sub_place_part {
					padding-left: 20;
					font-weight:bold;
				}
			}

			#place_spacer {
				//background-image: url(/assets/narrow-green-arrow.png);
				//height: 40px;
			}
		}
	}

	#after_edit_parts {
		font-size: medium;
	}


	#place_parent_note {
		font-size: medium;
		padding-bottom: 20px;	
	}