// Place all the styles related to the Routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#start_name {
	font-size:large;
}

#start_places {
	background-color:#b0c4de;
}

#way_places {
	background-color:#e0ffff;
}