// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trips {

	h1 {
		margin: 0;
		padding-bottom: 0em;
		font:  150% sans-serif;
		color: #226;
	}


	table {
		border-collapse: collapse;
		max-width: "800px";
		table-layout: fixed;
	}

	table tr td {
		padding: 5px;
		vertical-align: center;
	}

	table, th, td
	{

	}

	.border-table {
		//border: 1px solid black;
		width:70%;
	}

	p.normal {font-weight:normal;}
	p.light {font-weight:lighter;}
	p.thick {font-weight:bold;}
	p.thicker {font-weight:900;}

	.list_line_even {
	background:   #e0e0e0;
	}
	.list_line_odd {
	background:   #f0f0f0;
	}

	.action_name {
		font-size:100%;
	}

	.add_activity {
		vertical-align: center;
		text-align: center;
	}

	.action_desc {
		position:relative;
		top:5px;
		vertical-align: top;
	}

	.wayplace_name {
		vertical-align: center;
	}

	#trip_description_foo {
		overflow: auto;
		margin-top: 1em;
		border-bottom: 2px dotted #77d;
		min-height: 50px;
	}

	#separator {
		border-bottom: 1px dotted #77d;
	}

	.place_name {
		font-size:medium;
		padding-bottom: 0.3em;
		padding-top: 1em;
	}

	#route_name {
		font-size:large;
		font-weight: bold;
		font-variant:small-caps;
		padding-bottom: 0.5em;
		padding-top: 1em;
	}

		td, #route_distance {
		font-weight: medium;
		font-size: small;
		font-variant: normal;
		
		.td_green {
			color: #228822;
		}

		th {
			font-weight: normal;
			color: #228822;
		}
	}

	.place_desc {
		min-height: 20px;
	}

	.show_activities {
		border-bottom:1px solid #B8B8B8;
		border-top:1px solid #B8B8B8;
	}

	#start_places {
		//background-color:#E6E6E6;


		td {
			vertical-align: center;
		}
	}
	
	#way_places {
		//background-color:#EBFFEB;
	}
}