// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trips {

	h1 {
		margin: 0;
		padding-bottom: 0em;
		font:  150% sans-serif;
		color: #226;
	}


	table {
		border-collapse: collapse;
		max-width: "800px";
		table-layout: fixed;
	}

	table tr td {
		padding: 2px;
		vertical-align: center;
	}

	table, th, td
	{

	}

	.border-table {
		//border: 1px solid black;
		width:70%;
	}

	p.normal {font-weight:normal;}
	p.light {font-weight:lighter;}
	p.thick {font-weight:bold;}
	p.thicker {font-weight:900;}

	.list_line_even {
	background:   #e0e0e0;
	}
	.list_line_odd {
	background:   #f0f0f0;
	}

	.action_name {
		font-size:100%;
	}

	.add_activity {
		vertical-align: center;
		text-align: center;
	}

	.action_desc {
		position:relative;
		top:5px;
		vertical-align: top;
	}

	.wayplace_name {
		vertical-align: center;
	}

	#trip_description_foo {
		overflow: auto;
		margin-top: 1em;
		border-bottom: 2px dotted #77d;
		min-height: 50px;
	}

	#separator {
		border-bottom: 1px dotted #77d;
	}

	.place_name {
		font-size:medium;
		padding-bottom: 0.3em;
		padding-top: 1em;
	}

	#route_name {
		font-size:large;
		font-weight: bold;
		font-variant:small-caps;
		padding-bottom: 0.5em;
		padding-top: 1em;
	}

	.route_distance {
		border: 1px solid  #D9D9D9;
		font-weight: medium;
		font-size: x-small;
		font-variant: normal;
		padding: 0em;
		
		.td_green {
			color: #228822;
			font-size: x-small;
			text-align: right;
		}

		.td_right {
			text-align:right;
			font-size: x-small;
		}
			
		th {
			font-size: x-small;
			font-weight: normal;
			color: #228822;
		}
	}

	.place_desc {
		min-height: 20px;
	}

	.show_activities {
		border-bottom:1px solid #B8B8B8;
		border-top:1px solid #B8B8B8;

		ul {
			list-style-type:none;
		}
	}

	#start_places {
		//background-color:#E6E6E6;

		td {
			vertical-align: center;
		}
	}
	
	#show_trips {
		#show_a_trip {
			overflow: hidden;
			.show_a_trip_name {
				font-size: large;
				overflow: hidden;	
			}
			.show_a_trip_links {
				float: left;	
				font-size: small;
			
			}

			ul {
				list-style-type: none;
				li {
					padding-bottom: 5px;
				}
			}
		}
	}

	#trip_form {
		
		border-style:dotted;
		border-color:green;
		border-width:1px;
		#form_left_group {

			float: left;
			padding: 25px;

			#form_name {

				padding-bottom: 5px;
			}
			#form_start_date {
				padding-top: 5px;
				padding-bottom: 5px;
			}
			#form_end_date {
				padding-top: 5px;
				padding-bottom: 5px;
			}
			#form_flexible {
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
		#form_description {

		}
	}
	
	#spacer {
		height: 100px;
	}

	



}